{% layout "layout.liquid" %} {% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariel Programers Club</title>

</head>

<body>
    <div class="bannerDiv">
        <h1>Ariel Programers Club</h1>
    </div>

    <br>
    <br>
    <div class="container">
        <a href="/juegos/"><button>Juegos</button></a>
        <a href="/user/login"><button>Log in</button></a>

</body>

{% endblock %}