{% layout "layout.liquid" %} {% block content %}
    <div class="bannerDiv">
        <h1>Ariel Progamer's Club</h1>
    </div>
    
    <div class="navBar">
        <a href="/juegos/nuevo"><button>Haga Clic Aquí Para Entrar Nueva Jugada</button></a><br>
        <a href="/juegos/juegosdehoy"><button>Haga Clic Aquí Para ver Registros Juegos de Hoy</button></a><br>
        <a href="/juegos/todosjuegos"><button>Haga Clic Aquí Para Ver Registros completo</button></a><br>
        <a href="/user/logout"><button>Cerrar Sesión</button></a>
    </div>

    <div class="bannerDiv">
        <br>
        <br>
        <h2>Entrar Un Nuevo Juego</h1>
    </div>
    <div class="container">
        <form action="/juegos/" method="POST">
            <fieldset>
                <label>
                    Estación: <input type="number" name="station" placeholder="Entre el estaccion de juego (de 1 a 7)" />
                </label>
                <label>
                    Duración: <input type="number" name="duration" placeholder="Entre el duracion (en minutos)" />
                </label>
                <label>
                    Precio: <input type="number" name="price" placeholder="Entre el precio" />
                </label>
            <input type="submit" value="Enviar" />
            </fieldset>
        </form>
    </div>
{% endblock %}