{% layout "../views/layout.liquid" %} {% block content %}
<header>
    <div class="bannerDiv">
        <img src="https://i.ibb.co/dWwnQzf/avatarverse.jpg" alt="avatarverse" border="0" width="600" height="175">
        <h1>Welcome to the AvatarVerse!!</h1>
        <h2>A hub for all things Avatar: The Last Airbender and Legend of Korra!
        </h2>
        </header>
    </div>
    <div class="buttons">
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
    </div>
{% endblock %}