{% layout "layout.liquid" %} {% block content %}
<div>
    <form action="" method="post">
        <fieldset>
            <legend>Nuevo Usuario</legend>
            <label>Nombre de Usuario:
                <input type="text" name="username" required /> </label>
            <label>Clave:
                <input type="password" name="password" required />
            </label>
            <input type="submit" value="Create Account" />
            <a href="/user/login"><button>Volver a la Página de Inicio de Sesión</button></a>
        </fieldset>
    </form>
</div>
{% endblock %}